<%- include('partials/_header') -%>
<%- include('partials/_navigation') -%>
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                   <h2>Training Categories</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="trainers">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <p>Hello <%= user.name %>, you can see all the training categories! </p><br>
                     <% if(user.role != 'member') { %> 
                     <button class="btn btn-sm btn-primary text-white" href="#" data-toggle="modal" data-target="#addCategory"><span>Add New Category</span></button>                  
                    <% } %>
                    </div>
               </div>
            </div>
         
            <div class="row mt-5"> 
                <h3>Categories</h3>
                <table class="table table-striped table-dark">
                    <thead>
                    <th scope="row" colspan="3" class="text-center">CATEGORIES</th>
                        <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Category Name</th>
                        <% if(user.role != 'member') { %> 
                        <th class="text-center" scope="col" colspan="2">Actions</th>
                        <% } %> 
                      </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < categories.length; i++) { %>	
                            <tr>
                              <th><%= categories[i]._id %></th>
                              <td><%= categories[i].name %></td>
                              <% if(user.role != 'member') { %> 
                              <td class="text-center"><a class="btn btn-danger btn-sm" href="/categories/<%= categories[i]._id %>?_method=DELETE" onclick="return confirm('Are you sure?')" class="btn btn-danger text white"><i class="fa fa-trash"></i></a></td>
                              <% } %>
                            </tr>
                        <% } %> 
                    </tbody>
                  </table>
            </div><!-- end row -->
            					<!-- Modal Start -->
					<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-body customer-box">
									<!-- Tab panes -->
									<div class="tab-content">
										<div class="tab-pane active">
											<form method="POST" action="/categories" class="form-horizontal">
												<div class="form-group">
													<div class="col-sm-12">
														<input type="text" name="name" class="form-control"  placeholder="Category Name">
													</div>
												</div>
												<div class="row">
													<div class="col-sm-10">
                                                        <button type="submit" class="btn btn-primary btn-radius btn-brd grd1">
                                                            Save
                                                        </button>
                                                        <button type="submit" class="btn btn-secondary btn-radius btn-brd grd1"
                                                            data-dismiss="modal" aria-hidden="true">
                                                            Cancel
                                                        </button>
                                                             </div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal End -->


         
         </div>

      </div>
      <!-- end trainers -->
      <!--  footer -->
<%- include('partials/_footer') -%>
