<%- include('partials/_header') -%>
<%- include('partials/_navigation') -%>
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                   <h2>Your Dashboard</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- trainers -->
      <div  class="trainers">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                    <% if(user.role === 'trainer' || user.role === 'admin') { %> 
                     <p>Hello <%= user.name %>, you can see the trainings you've created here </p><br>
                    <% } %>
                    <% if(user.role === 'member') { %> 
                     <p>Hello <%= user.name %>, you can see the trainings you have enrolled for here! </p><br>
                    <% } %>
                  </div>
               </div>
            </div>
            <div class="row">
                <% for(let i = 0; i < trainings.length; i++ ) { %>
                  <% if(user && !(user.trainings.includes(trainings[i]._id)) && user.role != 'member') { %>
               <div class="col-md-4">
                  <a href="/trainings/<%= trainings[i].slug %>">
                  <div id="trai" class="trainer_box">
                     <div class="trainer_img">
                        <figure><img src="/images/tra.jpg" alt="#"/></figure>
                     </div>
                     <div class="trainer">
                        <h3><%= trainings[i].title %></h3>
                        <p><%= trainings[i].description.substring(0,15) %> ...</p>
                     </div>
                  </div>
                  </a>
               </div>
               <% } %>
               <% } %>

               <% if(user.role == 'member') { %>
                  <% for(let i = 0; i < user.trainings.length; i++ ) { %>
               <div class="col-md-4">
                  <a href="/trainings/<%= user.trainings[i].slug %>">
                  <div id="trai" class="trainer_box">
                     <div class="trainer_img">
                        <figure><img src="/images/tra.jpg" alt="#"/></figure>
                     </div>
                     <div class="trainer">
                        <h3><%= user.trainings[i].title %></h3>
                        <p><%= user.trainings[i].description.substring(0,15) %> ...</p>
                     </div>
                  </div>
                  </a>
               </div>
               <% } %>
               <% } %>

            </div>
         

         </div>
      </div>
      <!-- end trainers -->
      <!--  footer -->
<%- include('partials/_footer') -%>
