<%- include('partials/_header') -%>
   <%- include('partials/_navigation') -%>
     <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                    <h2>Details</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about -->
      <div class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="titlepage">
                     <h3><b> <%= training.title %> </b></h3>
                     <p> <%= training.description %> </p>
                     <a class="btn btn-warning btn-md mt-5" href="#" data-toggle="modal" data-target="#editTraining"><i class="fa fa-edit"></i>Edit</a>
                     <a class="btn btn-danger btn-md mt-5" href="#" data-toggle="modal" data-target="#deleteTraining"><i class="fa fa-eraser"></i>Delete</a>        
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="about_img">
                     <figure><img src="/images/about.jpg" alt="#"/></figure>
                  </div>
               </div>
            <!-- Edit Modal Start -->
            <div class="modal fade" id="editTraining" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
               <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                   <div class="modal-content">
                       <div class="modal-body customer-box">
                           <!-- Tab panes -->
                           <div class="tab-content">
                               <div class="tab-pane active" id="Login">
                                   <form method="POST" action="/trainings/<%=training.slug %>?_method=PUT" class="form-horizontal">
                                       <div class="form-group mb-2">
                                           <div class="col-sm-12">
                                               <input type="text" name="title" class="form-control" value="<%= training.title %>" placeholder="Training Title">
                                           </div>
                                       </div>
                                       <div class="form-group mb-2">
                                           <div class="col-sm-12">
                                               <textarea rows="8" name="description" class="form-control"><%= training.description %></textarea>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="col-sm-10">
                                               <button type="submit" class="btn btn-primary btn-radius btn-brd grd1">
                                                   Save
                                               </button>
                                               <button type="submit" class="btn btn-secondary btn-radius btn-brd grd1"
                                                   data-dismiss="modal" aria-hidden="true">
                                                   Cancel
                                               </button>
                                           </div>
                                       </div>
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- Edit Modal End -->

                        <!-- Delete Modal Start-->
                        <div class="modal" id="deleteTraining" tabindex="-1" role="dialog">
                           <div class="modal-dialog" role="document">
                           <form method="POST" action="/trainings/<%= training.slug %>?_method=DELETE" class="form-horizontal">
           
                             <div class="modal-content">
                               <div class="modal-header">
                                 <h5 class="modal-title"><b>Delete Training</b></h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                 </button>
                               </div>
                               <div class="modal-body">
                                 <p>Are you sure you want to delete <b><%= training.title %></b>?</p>
                               </div>
                               <div class="modal-footer">
                                 <button type="submit" class="btn btn-danger btn-radius btn-brd grd1">Yes, I'm</button>
                                 <button type="button" class="btn btn-secondary btn-radius btn-brd grd1" data-dismiss="modal" aria-label="Close">Cancel</button>
                               </div>
                             </div>
           
                           </form>
                           </div>
                       </div>
                         <!-- Delete Modal End-->
           
            </div>
         </div>
      </div>
      <!-- end about -->
      <!--  footer -->
<%- include('partials/_footer') -%>